<header>
    <div class="logo">
        <a href="/"><img src="/uploads/logo.png" alt="Logo If(Conecta)"></a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Início</a></li>
            <li><a href="/auth/login">Entrar</a></li>
            <li><a href="/auth/register" class="register-btn">Cadastrar</a></li>
        </ul>
    </nav>
</header>